{#templete pego do SGE#}
<!doctype html>
<html lang="pt">
  <head>
    <title>Eventos</title>

    <!-- Inserção do CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/sticky-footer-navbar.css" />
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Eventos</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Menu 2</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- CONTEUDO -->
    <main role="main" class="container">
    {% block conteudo %}

    {% endblock %}
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Desenvolvido na disciplina de LPC.</span>
      </div>
    </footer>
  </body>
</html>
